/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

/* layout */
.flex {
    display: flex;
}

header {
    background-color: #add8e6;
    height: 70px;
    justify-content: center;
    align-items: center;

}

nav {
    background-color: #daa520;
    width: 60%;
    justify-content: space-between;
}

ul {
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    flex: 0 0 60%;
    gap: 10px;
}

.container {
    background-color: #ee82ee;
    height: 80%;
    width: 50%;
}

.container2 {
    background-color: #228b22;
    height: 80%;
    width: 60%;
}

.container-txt {
    background-color: #1e90ff;
    height: 80%;
    width: 60%;
}

.container-foot {
    width: 60%;
    height: 500px;
}

.immagine {
    background-color: #ffc0cb;
    width: 40%;
}

.sct-1 {
    background-color: #00008b;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.sct-2 {
    height: 350px;
    align-items: center;
    justify-content: center;
}

.sct-3 {
    background-color: #d3d3d3;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.sct-4 {
    background-color: #d3d3d3;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.sct-foot {
    padding-bottom: 40px;
    padding-top: 10px;
    border-bottom: 2px solid gray;
}

footer {
    background-color: #23272a;

}

.color-coral {
    background-color: #f08080;

}

.color-lsg {
    background-color: #20b2aa;
    /*Light Sea Green*/
}

.color-marine {
    background-color: #7fffd4;
    /*Aquamarine*/
}

/* utilities */
.border {
    border: 1px dashed black;
}

.border-w {
    border: 1px dashed white;
}

.flex-20 {
    flex: 20%
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: end;
}

.flex-btw {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow2 {
    flex-grow: 2;
}

.py-10 {
    padding: 10px 0;
}

.mt-20 {
    margin-top: 20px;
}

.txt-end {
    text-align: end;
}

.wid-60 {
    width: 60%;
}